{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{% for ligne in lignes %}
    <p>
        {{ ligne.produit.nom }} - 
        {{ ligne.quantite }} × {{ ligne.produit.prix|number_format(2) }} € = 
        {{ ligne.quantite * ligne.produit.prix|number_format(2) }} €
        <a href="{{ path('panier_retirer', {id: ligne.id}) }}">Retirer</a>
    </p>
{% endfor %}
{% endblock %}
