{% extends 'base.html.twig' %}

{% block metaDescription %}

	<meta name="description" content="page home">
{% endblock %}

{% block stylesheets %}
	{# ← Important pour ne pas supprimer les styles existants #}
	{{ parent() }}

	{# Ici, {{ parent() }} insère le contenu du bloc du base.html.twig, puis tu ajoutes ta propre feuille de style. #}
	<link rel="stylesheet" href="{{ asset('styles/home.css') }}">
	<link
	rel="stylesheet" href="{{ asset('styles/vendor/splide.min.css') }}">
{# <link rel="stylesheet" href="assets/styles/home.css">/ #}
{% endblock %}

{# {{ asset('...') }} est une fonction Twig très utilisée dans Symfony. Elle sert à générer le chemin complet vers un fichier situé dans le dossier public/, qui est la racine "visible" de ton site web. #}

{% block title %}
	home
{% endblock %}


{% block body %}


	{% if app.user and is_granted('ROLE_ADMIN') %}

		<P>TU ES ADMIN
		</P>
	{% else %}
		<p>
			TU ES USER POUR ÊTRE ADMIN VAS DANS TA BASE DE DONNÉE ET ECRIS : ["ROLE_ADMIN"]
		</p>
		<P>POUR ACCÉDER À L'ESPACE ADMIN</P>
	{% endif %}


	{# carousel #}
	{% include "home/component/carousel.html.twig" %}

	{% if app.user %}
		<h2 class="text-2xl ">
			Bonjour{{ app.user.username}}</h2>
	{% endif %}


	{# find simple #}
	{% include "home/component/find_simple.html.twig" %}
	{# COUNT #}
	{% include "home/component/count.html.twig" %}
	{# form avec find() #}
	{% include "home/component/form_find.html.twig" %}
	{# barre de recherche 2 #}
	{% include "home/component/barre2.html.twig" %}
	{# form select #}
	{% include "home/component/select.html.twig" %}
	<div>
		{# BARRE DE RECHERCEHE #}
		{% include "home/component/barre_de_recherche.html.twig" %}
	</div>
	{# AFFICHAGE PRODUIT #}
	{% include "home/component/main.html.twig" %}


{% endblock %}


{% block js %}

	<script defer type="module" src=" {{ asset('script/home.js') }}"></script>

{% endblock %}
