{% extends 'base.html.twig' %}

{% block metaDescription %}

	<meta name="description" content="page home">
{% endblock %}

{% block stylesheets %}
	{# ← Important pour ne pas supprimer les styles existants #}
	{{ parent() }}
	{# Ici, {{ parent() }} insère le contenu du bloc du base.html.twig, puis tu ajoutes ta propre feuille de style. #}
	<link rel="stylesheet" href="{{ asset('styles/home.css') }}">
	<link
	rel="stylesheet" href="{{ asset('styles/vendor/splide.min.css') }}">
{# <link rel="stylesheet" href="assets/styles/home.css">/ #}
{% endblock %}

{# {{ asset('...') }} est une fonction Twig très utilisée dans Symfony. Elle sert à générer le chemin complet vers un fichier situé dans le dossier public/, qui est la racine "visible" de ton site web. #}

{% block title %}
	home
{% endblock %}


{% block body %}

{% if app.user and app.session.get('paniers') is defined and app.session.get('paniers')|length > 0 %}

<p class="text-center text-red-500" >Vous remarquez que vous avez un panier non vide, tu es connecté mais ton panier est vide.</p>
<p class="text-center text-red-500">nous entrons à un niveau superieur de developpement web pour gerer cette incohérence.....</p>

{% endif %}


{% include "home/component/conditionUser.html.twig" %}

	{# carousel #}
	{% include "home/component/carousel.html.twig" %}



	{# AFFICHAGE PRODUIT #}
	{% include "home/component/main.html.twig" %}
  {% if produits|length  > 1 %}
   {% include "home/component/voirMethodeAuClick.html.twig" %} 
{% elseif produits|length  == 1 %}

<p class="text-center text-red-500"> si tu as un seul produit, ce n'est pas très pertinant de cliquer ...</p>
  {% include "home/component/voirMethodeAuClick.html.twig" %}

{% else %}

<div class="flex flex-col m-auto xl:w-1/2 gap-2 bg-lime-100 p-5 ">

    <p class="text-center text-black">
	  Tu pourras voir des exemples avec methodes find() findby() count()... quand tu auras des produits
	</p>

</div>

{% endif %}

<div id="toggle-content" class=" bg-black flex-col gap-20 m-auto xl:w-1/2 hidden border  ">



	{# COUNT #}
	{% include "home/component/count.html.twig" %}
	{# form avec find() #}
	{% include "home/component/form_find.html.twig" %}
	{# barre de recherche 2 #}
	{% include "home/component/barre2.html.twig" %}
	{# form select #}
	{% include "home/component/select.html.twig" %}
	<div class="{{ theme }}">
		{# BARRE DE RECHERCEHE #}
		{% include "home/component/barre_de_recherche.html.twig" %}
	</div>



</div>

{% endblock %}


{% block js %}

	<script defer type="module" src=" {{ asset('script/home.js') }}"></script>

{% endblock %}
