{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>inscription</h1>

{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.telephone) }}
    {{ form_row(registrationForm.adresse) }}
    {{ form_row(registrationForm.username) }}
    <div class="border p-2 m-2">
    <p>les conditions d'utilisation de notre site ....</p>
    </div>
    <div class="checkbox-container">
        {{ form_row(registrationForm.agreeTerms) }}
    </div>
    {{ form_row(registrationForm.plainPassword) }}
    <button type="submit">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}
