{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}
     


     {# demararage du formulaire, génère une balise form #}
    {{ form_start(registrationForm) }}
    <div class="border text- bg-yellow-300 p-10">
        {{ form_row(registrationForm.username,{
            attr:{"class": 'f-red'},
            label_attr:{"class":' text-black text-5xl '},
            label:'votre nom svp'

        } )}}
    
    </div>

    <div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe'
        }) }}
    
    </div>
    <div>
        {{ form_row(registrationForm.email, {
           
        }) }}
    
    </div>
    <div>
        {{ form_row(registrationForm.telephone, {
   
        }) }}
    
    </div>
    <div>
        {{ form_row(registrationForm.adresse, {
           
        }) }}
    
    </div>

    <div>
    
        {{ form_row(registrationForm.agreeTerms,{

            label:"cochez si ok "
        } ) }}
    </div>

        <button type="submit" class="btn">inscription </button>
    {{ form_end(registrationForm) }}
{% endblock %}
