{# <nav class="w-5/6 border m-auto pt-10 justify-center ">


	<ul class=" flex gap-10  border w-full items-center justify-center" >

		<li><a href=" {{ path('home') }}  ">home</a></li>
		<li><a href=" {{ path('apropos') }}  ">a propos</a></li>
		<li><a href=" {{ path('inscription') }}  ">inscription</a></li>

	</ul>
</nav> #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  
  <div class="container-fluid">
    <a class="navbar-brand" href=" {{ path('home') }} ">Mon site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" {{ path('home') }}  ">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('apropos') }}  ">a propos</a>
        </li>
        {% if app.user %}
        
        
        <li class="nav-item">
          <a class="nav-link" href=" {{ path('profile') }}  ">profile</a>
        </li>
        
        {% endif %}
        <li class="nav-item">


        {% if app.user %}
        
          <a class="nav-link" href=" {{ path('logout') }}  ">déconnection</a>
        {% else %}
          <a class="nav-link" href=" {{ path('login') }}  ">connection</a>
          <a class="nav-link" href=" {{ path('inscription') }}  ">inscription</a>
          
        {% endif %}
        
        </li>
        {% if  is_granted('ROLE_ADMIN') %}
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{path('app_admin_category_index')}} ">categories</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_produit')}}">produit</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_apropos_index')}}">a propos</a></li>
            {# <li><hr class="dropdown-divider"></li> #}
            {# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
          </ul>
        </li> 
        {# <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> #}
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
        
            <a href="{{ path('changer_theme') }}" class="btnTheme float-end">
               <p>Changer de thème </p>
               <p>(actuel : {{ theme }})</p>
            </a>


          <a class=" float-end" href="{{ path('panier_index') }}">
        🛒 Panier

        {% if app.user and app.user.getNombreArticlesPanier() > 0 %}
            <span class="badge bg-warning text-dark">
                {{ app.user.getNombreArticlesPanier() }}
            </span>
        {% else %}
          
            <span class="badge bg-warning text-dark">
                0
            </span>
            {% endif %}

    </a>
        
        
        {% endif %}
        
    </div>
  </div>
</nav>
