{% extends 'base.html.twig' %}

{% block title %}Hello AproposController!{% endblock %}

{% block body %}

{% if apropos %}

<h1 class=" text-4xl text-center p-20 {{ theme }}" >  {{ apropos.titre }} </h1>
<div class="flex flex-wrap justify-center items-center gap-10 {{ theme }}" >

<p class="w-96 text-center  border bg-amber-200 {{ theme }}"> {{ apropos.texte}} </p>
<p class="w-96 text-center  border bg-amber-100 {{ theme }}"> {{ apropos.texte2}} </p>

</div>

{% else %}

<div class="flex rounded-xl shadow-xl flex-col gap-2 xl:w-1/2 m-auto bg-red-400 p-5">

<p class="text-center text-black">cette page doit être modifier dynamiquement avec le formulaire de admin a propos  </p>
<p class="text-center text-black">c'est une façon de rendre le site plus ajustable dans l'espace admin sans devoir repasser par le html</p>

</div>


{% endif %}




{% endblock %}
