{# select method findby   #}
<div class="m-auto text-center bg-orange-200 p-5 {{ theme }}">
	<h3 class="text-2xl">
		repo et findby()</h3>

	<form action="{{ path('home') }}" method="POST" data-turbo-frame="produits_frame">
		<input type="hidden" name="form" value="select_categorie">
		<select name="categorie" id="categorie" onchange="this.form.submit();">
			<option value="">-- Choisir une catégorie --</option>
			{% for item in categories %}
				<option value="{{ item.id }}">{{ item.name }}</option>
			{% endfor %}
		</select>
	</form>

	<turbo-frame id="produits_frame">
		{% if produitss %}
			<h2>Produits de la catégorie sélectionnée :</h2>
			<ul>
				{% for produit in produitss %}
					<li>{{ produit.nom }}
						-
						{{ produit.prix }}
						€</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucun produit trouvé.</p>
		{% endif %}
	</turbo-frame>

    </div>